<div class="flex flex-col gap-1 {{ containerClassName }}">
  <label class="font-bold text-gray-600 tracking-wide {{labelClassName}}" for="{{name}}">{{ label }}</label>
  <input 
    class="py-3 px-4 rounded-md border border-gray-200 focus:border-blue-500 placeholder:text-gray-300 text-sm {{className}}" 
    type="{{type}}" 
    name="{{name}}"
    placeholder="{{placeholder}}"
  />
</div>